@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import views.html.administrator.dasboard.menuadmin
@(page: String, isLogin: Boolean, userAccountAdminLogin : UserAccountAdmin, userFotoProfileAdminLogin : UserFotoProfileAdmin, createMenuAdmin : Html, createMenuFormAdmin : Html)(content: Html)
@menuadmin(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin, createMenuAdmin){
    <div class="row">
        <div class="center aligned column">
            @createMenuFormAdmin
        </div>
    </div>

    @content

}