@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import views.html.administrator.mainadmin
@(page: String, isLogin: Boolean, userAccountAdminLogin : UserAccountAdmin, userFotoProfileAdminLogin : UserFotoProfileAdmin, createMenuAdmin : Html)(content: Html)
@mainadmin(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin){
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">

            @if(!userAccountAdminLogin.isUaa_isactive) {
                <div class="row">
                    <div class="center aligned column">
                        <div class="ui negative message">
                            <div class="header">
                                Your account admin not been activated, please activated first in your email account.
                            </div>
                            @*<p><a href="@DasboardAdminController.sendActivationCodeAdmin()">Send Activation Code</a></p>*@
                        </div>
                    </div>
                </div>
            }else{
                <div class="row">
                    <div class="center aligned column">
                        <div>
                            @createMenuAdmin
                        </div>
                    </div>
                </div>
            }

            @content

        </div>
    </div>
}