@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import models.user.app.AppMasterForm
@import play.Configuration
@import controllers.util.ConstansTable
@import controllers.util.AESCrypto
@import controllers.util.URLEncDec
@import views.html.user.dasboard.form.menuactionlist
@(page: String, isLogin: Boolean, userAccountLogin : UserAccount,  userFotoProfileLogin : UserFotoProfile, appMasterForm : AppMasterForm,  createMenu : Html, createMenuForm : Html)
@menuactionlist(page, isLogin, userAccountLogin, userFotoProfileLogin, appMasterForm,  createMenu,  createMenuForm){

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>*@
   @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("jstree/themes/default/style.min.css")">
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>*@
    <script src="@routes.Assets.versioned("jstree/jstree.min.js")"></script>


    @*<script>
        function filterGlobal(){
            $('#table_organizationlist_id').DataTable().search(
                $('#input_search_organization_id').val()
            ).draw();
        }

        $(document).ready(function() {
            var table = $('#table_organizationlist_id').DataTable( {
                "processing": true,
                "serverSide": true,
                "cache": false,
                "ajax": {
                    "data": function(){
                        var info = $('#table_organizationlist_id').DataTable();
                        var filter = $('#input_search_organization_id').val();
                        if (filter === undefined || filter === null || filter == "") {
                            $('#table_adminaccountlist_id').DataTable().ajax.url(

                            );
                        }else{
                            $('#table_adminaccountlist_id').DataTable().ajax.url(

                            );
                        }
                    }
                },
                "dom": 't<"row"<"ui grid"<"three wide left aligned column"<"field"l>><"five wide center aligned column"<"field"i>><"eight wide right aligned column"<"field"p>>>>',
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(0).addClass('center aligned');
                    $('td', row).eq(3).addClass('center aligned');
                }
            });

            $('#input_search_organization_id').on("keyup click", function () {
                filterGlobal();
            } );
        }) ;
    </script>*@

    <script>
            $(function() {
                $('#container').jstree({
                    'core' : {
                        'data' : {
                            "url" : "//www.jstree.com/fiddle/?lazy",
                            "data" : function (node) {
                                return { "id" : node.id };
                            }
                        }
                    }
                });
            });
    </script>


    <div class="row">
        <div class="left aligned column">

            <div class="row form">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="field">

                            @*<table id="table_organizationlist_id" class="ui compact striped selectable celled table" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="one wide center aligned">View</th>
                                        <th class="nine wide">Username</th>
                                        <th class="five wide">User Type</th>
                                        <th class="one wide center aligned">Active</th>
                                    </tr>
                                </thead>
                            </table>*@
                            <div id="container"></div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




}