@import controllers.administrator.authentication.routes.LoginAdminController
@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import views.html.administrator.mainadmin
@(page : String, isLogin : Boolean, userAccountAdminLogin : UserAccountAdmin, userFotoProfileAdminLogin : UserFotoProfileAdmin)
@mainadmin(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin){
    <script>
            $(document)
                    .ready(function() {
                        $('.ui.form')
                                .form({
                                    fields: {
                                        email: {
                                            identifier  : 'uaa_username_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your e-mail'
                                                },
                                                {
                                                    type   : 'email',
                                                    prompt : 'Please enter a valid e-mail'
                                                }
                                            ]
                                        },
                                        password: {
                                            identifier  : 'uaa_userpassword_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your password'
                                                },
                                                {
                                                    type   : 'length[6]',
                                                    prompt : 'Your password must be at least 6 characters'
                                                }
                                            ]
                                        }
                                    }
                                })
                            ;
                    })
                    ;
    </script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")">


    <div class="ui vertical stripe segment">
        <div class="ui text container login">
            <h2 class="ui teal image header">
                <img src="@routes.Assets.versioned("semantic/assets/images/logo.png")" class="image">
                <div class="content">
                    Log-in Admin
                </div>
            </h2>

            <div class="ui large form">
                @helper.form(action=LoginAdminController.onLogin()){
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail outline icon"></i>
                                <input type="text" id="uaa_username_id" name="uaa_username_name" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="uaa_userpassword_id" name="uaa_userpassword_name" placeholder="Password">
                            </div>
                        </div>

                        <input type="submit" class="ui fluid large teal submit button" value="Login">

                        <div class="ui error message"></div>
                    </div>
                }
            </div>

                @if(flash.containsKey("error")) {
                    <div class="ui error message" class="text-danger">
                    @flash.get("error")
                    </div>
                }

            @*<div class="ui message">
                <a href="@ForgotPasswordController.forgotPassword()">Forgot Password?</a>
            </div>*@

        </div>
    </div>
}