@import controllers.administrator.authentication.routes.ResetPasswordController
@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import play.Configuration
@import views.html.administrator.mainadmin
@(page : String, reset : String, isLogin : Boolean, userAccountAdminLogin : UserAccountAdmin, userFotoProfileAdminLogin : UserFotoProfileAdmin)
@mainadmin(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin){

    <script>
            $(document)
                    .ready(function() {
                        $("#password_administrator_reset_div_id")
                                .on('click', function() {
                                    $("#password_administrator_reset_modal_id").modal('show');
                                });
                    });
    </script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")">

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="center aligned column">
                    @if(reset.equals("yes")){
                        <h3 class="ui header">Username and password will be sent to your email
                            <a class="ui label blue">
                                <i class="mail icon"></i>@Configuration.root().getString("app.default.account.administrator.username")
                            </a>
                        </h3>
                        <div id="password_administrator_reset_div_id" class="ui buttons">
                            <button id="password_administrator_reset_button_id" class="ui green button">
                                <i class="unlock  icon"></i>
                                Reset password administrator
                            </button>
                        </div>
                    }else{
                        @if(reset.equals("no")){
                            <h3 class="ui header">Administrator password reset</h3>
                            <p>if you want to reset password administrator</p>
                            update line text <i>app.default.account.administrator.reset = "yes"</i> and <i>app.default.account.administrator.username = "youremail"</i> in <i>application.conf</i> file.<br/>
                            username and password will be sent to your email @Configuration.root().getString("app.default.account.administrator.username")
                        }else{
                            <h3 class="ui header">Your administrator password has been reset</h3>
                            <p>Check your email @Configuration.root().getString("app.default.account.administrator.username")</p>
                            <p>Please change your password and "application.conf" immediately for security!</p>
                            update line text <i>app.default.account.administrator.reset = "no"</i> and <i>app.default.account.administrator.username = "youremail"</i> in <i>application.conf</i> file.<br/>
                        }
                    }
                </div>
            </div>
        </div>
    </div>


    <div id="password_administrator_reset_modal_id" class="ui basic modal">
        <div class="ui icon header">
            <i class="reset icon"></i>
            Reset password administrator
        </div>
        <div class="content">
            <p> Username and password will be sent to your email @Configuration.root().getString("app.default.account.administrator.username"). Are you sure, want to reset password administrator?</p>
        </div>
        <div class="actions">
            <div class="ui buttons">
            @helper.form(action=ResetPasswordController.onResetPassword()){
                <button id="password_administrator_reset_yes_button_id" name="password_administrator_reset_yes_button_name" class="ui green ok button" type="submit">
                    <i class="checkmark icon"></i>
                    Yes
                </button>
            }
            </div>
            <div class="ui buttons">
                <button id="password_administrator_reset_no_button_id" name="password_administrator_reset_no_button_name" class="ui red cancel button" type="button">
                    <i class="remove icon"></i>
                    No
                </button>
            </div>
        </div>
    </div>



}