@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import views.html.user.main
@(page : String, isLogin : Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){

    <script type='text/javascript'>
            /* attach a submit handler to the form */
            $("#formoid").submit(function(event) {

                /* stop form from submitting normally */
                event.preventDefault();

                /* get the action attribute from the <form action=""> element */
                var $form = $( this ),
                        url = $form.attr( 'action' );

                /* Send the data using post with element id name and name2*/
                var posting = $.post( url, { name: $('#name').val(), name2: $('#name2').val() } );

                /* Alerts the results */
                posting.done(function( data ) {
                    alert('success');
                });
            });
    </script>


    <form id="formoid" action="page/action" title="" method="post">
        <div>
            <label class="title">First Name</label>
            <input type="text" id="name" name="name" >
        </div>
        <div>
            <label class="title">Name</label>
            <input type="text" id="name2" name="name2" >
        </div>
        <div>
            <input type="submit" id="submitButton"  name="submitButton" value="Submit">
        </div>
    </form>

}