@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import models.user.app.AppMasterForm
@import views.html.user.dasboard.menu
@(page: String, isLogin: Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile, appMasterFormAdmin : AppMasterForm,  createMenu : Html, createMenuForm : Html)(content: Html)
@menu(page, isLogin, userAccountLogin, userFotoProfileLogin, createMenu){
    <div class="row">
        <div class="center aligned column">
            @createMenuForm
        </div>
    </div>

    @content
}