@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import views.html.user.main
@(page : String, isActive : Boolean, isLogin : Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){
    @if(isActive){
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="center aligned column">
                        <h1>Account has been Active</h1>
                    </div>
                </div>
            </div>
        </div>
    }else{
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="center aligned column">
                        <h1>Link Expired</h1>
                    </div>
                </div>

            </div>
        </div>
    }
}