@import controllers.user.authentication.routes.SignUpController
@import controllers.user.authentication.routes.ForgotPasswordController
@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import views.html.user.main
@(page : String, isLogin : Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){
    <script>
            $(document)
                    .ready(function() {
                        $('.ui.form')
                                .form({
                                    fields: {
                                        ua_username: {
                                            identifier  : 'ua_username_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your e-mail'
                                                },
                                                {
                                                    type   : 'email',
                                                    prompt : 'Please enter a valid e-mail'
                                                }
                                            ]
                                        }
                                    }
                                })
                            ;
                    });
    </script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")">

    <div class="ui vertical stripe segment">
        <div class="ui text container login">
            <h2 class="ui teal image header">
                <img src="@routes.Assets.versioned("semantic/assets/images/logo.png")" class="image">
                <div class="content">
                    Forgot your password
                </div>
            </h2>

            <div class="ui large form">
                @helper.form(action=ForgotPasswordController.onForgotPassword()){
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="mail outline icon"></i>
                                <input type="text" id="ua_username_id" name="ua_username_name"  placeholder="E-mail address">
                            </div>
                        </div>
                        <input type="submit" class="ui fluid large teal submit button" value="Reset Password">

                        <div class="ui error message"></div>
                    </div>
                }
            </div>

            @if(flash.containsKey("error")) {
                <div class="ui error message" class="text-danger">
                @flash.get("error")
                </div>
            }

            <div class="ui message">
                For new Account? <a href="@SignUpController.signUp()">Sign up</a>
            </div>
        </div>
    </div>
}