@import controllers.user.authentication.routes.ResetPasswordController
@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import play.Configuration
@import views.html.user.main
@(page : String, isLogin : Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){
    <script>
            $(document)
                    .ready(function() {
                        $('.ui.form')
                                .form({
                                    fields: {
                                        ua_username: {
                                            identifier  : 'ua_username_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your e-mail'
                                                },
                                                {
                                                    type   : 'email',
                                                    prompt : 'Please enter a valid e-mail'
                                                }
                                            ]
                                        },
                                        ua_userpassword: {
                                            identifier  : 'ua_userpassword_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your password'
                                                },
                                                {
                                                    type   : 'length[6]',
                                                    prompt : 'Your password must be at least 6 characters'
                                                }
                                            ]
                                        },
                                        ua_userpasswordconfirm: {
                                            identifier  : 'ua_userpasswordconfirm_id',
                                            rules: [
                                                {
                                                    type   : 'empty',
                                                    prompt : 'Please enter your confirm password'
                                                },
                                                {
                                                    type   : 'length[6]',
                                                    prompt : 'Your password must be at least 6 characters'
                                                },
                                                {
                                                    type   : 'match[ua_userpassword_id]',
                                                    prompt : 'Please put the same value in both fields'
                                                }
                                            ]
                                        }
                                    }
                                })
                ;
                    })
        ;
    </script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/login.css")">

    <div class="ui vertical stripe segment">
        <div class="ui text container login">
            <h2 class="ui teal image header">
                <img src="@routes.Assets.versioned("semantic/assets/images/logo.png")" class="image">
                <div class="content">
                    Reset Password
                </div>
            </h2>
            <div class="ui large form">
                @helper.form(action=ResetPasswordController.onResetPassword()){
                     <div class="ui stacked segment">
                         <div class="field">
                             <div class="ui left icon disabled input">
                                <i class="mail outline icon"></i>
                                <input type="text" id="ua_username_id" name="ua_username_name" value="@userAccountLogin.getUa_username()" placeholder="E-mail address">
                            </div>
                         </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="ua_userpassword_id" name="ua_userpassword_name" placeholder="New password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="ua_userpasswordconfirm_id" name="ua_userpasswordconfirm_name" placeholder="Confirm password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="g-recaptcha" name="recaptcha_name" data-sitekey="@Configuration.root().getString("recaptcha.sitekey")"></div>
                        </div>
                         <input type="submit" class="ui fluid large teal submit button" value="Reset">
                    </div>
                }
                <div class="ui error message"></div>
            </div>

            @if(flash.containsKey("error")) {
                <div class="ui error message" class="text-danger">
                @flash.get("error")
                </div>
            }

        </div>
    </div>

}