@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import views.html.user.main
@(page: String, excMsg: String, isLogin : Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){
    <script src="@routes.Assets.versioned("errors/error404/error404.js")"></script>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h1 class="ui header red">@page - The snake time</h1>
                    <p>@excMsg</p>
                    <div class="ui action left icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search...">
                        <div class="ui teal button">Search</div>
                    </div>
                </div>
                <div class="six wide right floated column">
                    <canvas id="canvas" width="450" height="450"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge button">Go Back</a>
                </div>
            </div>
        </div>
    </div>
}
