@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import models.administrator.app.AppMasterFormAdmin
@import play.Configuration
@import controllers.util.ConstansTable
@import controllers.util.AESCrypto
@import controllers.util.URLEncDec
@import views.html.administrator.dasboard.form.menuadminactionlist
@(page: String, isLogin: Boolean, userAccountAdminLogin : UserAccountAdmin,  userFotoProfileAdminLogin : UserFotoProfileAdmin, appMasterFormAdmin : AppMasterFormAdmin,  createMenuAdmin : Html, createMenuFormAdmin : Html)
@menuadminactionlist(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin, appMasterFormAdmin,  createMenuAdmin,  createMenuFormAdmin){

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css">
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>

    <script>
        function filterGlobal(){
            $('#table_adminaccountlist_id').DataTable().search(
                $('#input_search_adminaccount_id').val()
            ).draw();
        }

        $(document).ready(function() {
            var table = $('#table_adminaccountlist_id').DataTable( {
                "processing": true,
                "serverSide": true,
                "cache": false,
                "ajax": {
                    "data": function(){
                        var info = $('#table_adminaccountlist_id').DataTable();
                        var filter = $('#input_search_adminaccount_id').val();
                        if (filter === undefined || filter === null || filter == "") {
                            $('#table_adminaccountlist_id').DataTable().ajax.url(
                                    "@Configuration.root().getString("server.schemes")@request().host()/ws/administrator/dasboard/form/list/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))/@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_USER_ACCOUNT_ADMIN))/"+info.page.info().page+"/"+info.page.info().length
                            );
                        }else{
                            $('#table_adminaccountlist_id').DataTable().ajax.url(
                                    "@Configuration.root().getString("server.schemes")@request().host()/ws/administrator/dasboard/form/list/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))/@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_USER_ACCOUNT_ADMIN))/"+filter+"/"+info.page.info().page+"/"+info.page.info().length
                            );
                        }
                    }
                },
                "dom": 't<"row"<"ui grid"<"three wide left aligned column"<"field"l>><"five wide center aligned column"<"field"i>><"eight wide right aligned column"<"field"p>>>>',
                "createdRow": function ( row, data, index ) {
                    $('td', row).eq(0).addClass('center aligned');
                    $('td', row).eq(3).addClass('center aligned');
                }
            });

            $('#input_search_adminaccount_id').on("keyup click", function () {
                filterGlobal();
            } );
        }) ;
    </script>


    <div class="row">
        <div class="left aligned column">

            <div class="row form">
                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="field">

                            <table id="table_adminaccountlist_id" class="ui compact striped selectable celled table" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="one wide center aligned">View</th>
                                        <th class="nine wide">Username</th>
                                        <th class="five wide">User Type</th>
                                        <th class="one wide center aligned">Active</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




}