@import controllers.administrator.dasboard.form.routes.FormAdminMainController
@import controllers.administrator.dasboard.form.routes.FormAdminMainDetailController
@import controllers.util.Constans
@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import models.administrator.user.UserAccountAdmin
@import models.administrator.user.UserFotoProfileAdmin
@import models.administrator.app.AppMasterFormAdmin
@import models.administrator.app.AppMasterPermissionsFormAdmin
@import views.html.administrator.dasboard.form.menuadminactionmain
@import controllers.util.AESCrypto
@import controllers.util.URLEncDec
@import play.Configuration
@import controllers.util.ConstansTable
@(page: String, isLogin: Boolean, userAccountAdminLogin : UserAccountAdmin, userFotoProfileAdminLogin : UserFotoProfileAdmin, userAccount : UserAccount, userFotoProfile : UserFotoProfile, appMasterFormAdmin : AppMasterFormAdmin , appMasterPermissionsFormAdmin : AppMasterPermissionsFormAdmin, createMenuAdmin : Html, createMenuFormAdmin : Html, action : String)
@formatDateBirth = @{if(userAccount.getUa_userprofile().getUp_birthdate()!=null){userAccount.getUa_userprofile().getUp_birthdate().format("dd/MM/yyyy")}else{""}}
@formatDateBirthCard = @{if(userAccount.getUa_userprofile().getUp_birthdate()!=null){userAccount.getUa_userprofile().getUp_birthdate().format("dd MMMM yyyy")}else{""}}
@menuadminactionmain(page, isLogin, userAccountAdminLogin, userFotoProfileAdminLogin, createMenuAdmin, createMenuFormAdmin){

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css">
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.semanticui.min.js"></script>

        <script>
            $(document).ready(function(){
                componentmainvalidate();
                componentcheckedusername();

                $("#upload_foto_profile_div_id").on('click', function() {
                    $("#upload_foto_profile_modal_id").modal('show');
                    $("#ufp_filename_img_id").attr("src",'@routes.Assets.versioned("semantic/assets/images/avatar/nan.jpg")')
                });

                $("#ufp_filename_input_id").change(function(){
                    uploadFotoProfile(this);
                });

                $("#masterpermissionsform_add_button_id").on('click', function() {
                    getmasterform();
                    oncheckboxevent();
                    $("#masterpermissionsform_modal_id").modal({
                        autofocus : false,
                        onApprove : function() {
                            return false;
                        }
                    }).modal('show');
                    $("#appmasterform_dropdown_default_id").html("Select Form");
                    $("#action_input_id").val("").val($("#action_input_id").val() + "new_value");
                    $("#appmasterform_input_id").val("");
                    @if(appMasterPermissionsFormAdmin.isAmpfa_isinsert){
                        $("#app_master_permissions_form_save_div_button_id").html("")
                                .append($('<button id="app_master_permissions_form_save_button_id" name="save_name" class="ui green ok button" type="submit"></button>')
                                .html("Save"));
                        $("#app_master_permissions_form_save_button_id").on('click', function() {
                            componentdetailvalidate();
                            $("#detail_form_id").submit();
                        });
                    }
                });

                @if(action.equals(Constans.ACTION_VIEW)){
                    masterpermissionsformadmindatatable();
                }

            });

            function uploadFotoProfile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#ufp_filename_img_id").attr('src', e.target.result).width(678).height(622);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function componentmainvalidate(){
                $("#main_form_id")
                    .form({
                        fields: {
                            username: {
                                identifier  : 'ua_username_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your e-mail'
                                    },
                                    {
                                        type   : 'email',
                                        prompt : 'Please enter a valid e-mail'
                                    },
                                    {
                                        type   : 'different[ua_username_caption_input_id]',
                                        prompt : 'Email already exist'
                                    }
                                ]
                            },
                            userpassword: {
                                identifier  : 'ua_userpassword_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your password'
                                    },
                                    {
                                        type   : 'length[6]',
                                        prompt : 'Your password must be at least 6 characters'
                                    }
                                ]
                            },
                            userpasswordconfirm: {
                                identifier  : 'ua_userpasswordconfirm_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your confirm password'
                                    },
                                    {
                                        type   : 'length[6]',
                                        prompt : 'Your password must be at least 6 characters'
                                    },
                                    {
                                        type   : 'match[ua_userpassword_id]',
                                        prompt : 'Please put the same value in both fields'
                                    }
                                ]
                            },
                            usertype: {
                                identifier  : 'ua_usertype_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please select a usertype'
                                    }
                                ]
                            },
                            name: {
                                identifier  : 'up_name_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your name'
                                    }
                                ]
                            },
                            nickname: {
                                identifier  : 'up_nickname_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your nickname'
                                    }
                                ]
                            },
                            birthplace: {
                                identifier  : 'up_birthplace_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your birthplace'
                                    }
                                ]
                            },
                            birthdate: {
                                identifier  : 'up_birthdate_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please enter your birthdate'
                                    },
                                    {
                                        type   : "regExp[/^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\\d\\d$/]",
                                        prompt : "Please enter a valid dd/mm/yyyy birthdate"
                                    }
                                ]
                            },
                            up_isgender: {
                                identifier  : 'up_isgender_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please select a gender'
                                    }
                                ]
                            }

                        }
                    });
            }

            function componentdetailvalidate(){
                $("#detail_form_id")
                    .form({
                        fields: {
                            username: {
                                identifier  : 'appmasterform_input_id',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : 'Please select a form'
                                    }
                                ]
                            }
                        }
                    });
            }


            function componentcheckedusername() {
                $('#ua_username_input_id').on("input", function () {
                    var ua_username_name = this.value;
                    $.ajax({
                        url: "@Configuration.root().getString("server.schemes")@request().host()/ws/administrator/dasboard/form/main/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))/@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_USER_ACCOUNT_ADMIN))/"+ua_username_name,
                        cache: false,
                        success: function(data){
                            if(data=="true"){
                                $("#ua_username_caption_input_id").val(ua_username_name);
                            }else{
                                $("#ua_username_caption_input_id").val("");
                            }
                        }
                    });
                });
            }

            function masterpermissionsformadmindatatable(){
                $('#table_masterpermissionsform_id').DataTable( {
                    "processing": true,
                    "serverSide": true,
                    "cache": false,
                    "ajax": {
                        "data": function(){
                            var info = $('#table_masterpermissionsform_id').DataTable();
                            $('#table_masterpermissionsform_id').DataTable().ajax.url(
                                "@Configuration.root().getString("server.schemes")@request().host()/ws/administrator/dasboard/form/main/detail/list/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))/@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_APP_MASTER_PERMISSONS_FORM))/@URLEncDec.URLEncode(AESCrypto.encrypt(userAccount.getUa_autoindex().toString))/"+info.page.info().page+"/"+info.page.info().length
                            );
                        }
                    },
                    "dom": 't<"row"<"ui grid"<"three wide left aligned column"<"field"l>><"five wide center aligned column"<"field"i>><"eight wide right aligned column"<"field"p>>>>',
                    "createdRow": function ( row, data, index ) {
                        $('td', row).eq(0).addClass('center aligned');
                        $('td', row).eq(2).addClass('center aligned');
                        $('td', row).eq(3).addClass('center aligned');
                        $('td', row).eq(4).addClass('center aligned');
                        $('td', row).eq(5).addClass('center aligned');
                        $('td', row).eq(6).addClass('center aligned');
                        $('td', row).eq(7).addClass('center aligned');
                        $('td', row).eq(8).addClass('center aligned');
                        $('td', row).eq(9).addClass('center aligned');
                        $('td', row).eq(10).addClass('center aligned');
                    }
                });
            }

            function getmasterform(){
                $("#appmasterform_dropdown_id").html("");
                $.ajax({
                    type: 'GET',
                    url: '@Configuration.root().getString("server.schemes")@request().host()/ws/administrator/dasboard/form/main/detail/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))/@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))/@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_APP_MASTER_FORM))/@URLEncDec.URLEncode(AESCrypto.encrypt(userAccount.getUa_autoindex().toString()))',
                    success: function(data){
                        $.each(data, function(key, value){
                            $("#appmasterform_dropdown_id").append($('<div class="item" data-value="'+value.amf_autoindex+'"></div>').html(value.amf_name));
                        });
                    }
                });
            }

            function oncheckboxevent(){
                $("#ampf_isnew_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isnew_toggle_id").val("").val($("#ampf_isnew_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isnew_toggle_id").val("").val($("#ampf_isnew_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isselect_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isselect_toggle_id").val("").val($("#ampf_isselect_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isselect_toggle_id").val("").val($("#ampf_isselect_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isinsert_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isinsert_toggle_id").val("").val($("#ampf_isinsert_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isinsert_toggle_id").val("").val($("#ampf_isinsert_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isupdate_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isupdate_toggle_id").val("").val($("#ampf_isupdate_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isupdate_toggle_id").val("").val($("#ampf_isupdate_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isdelete_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isdelete_toggle_id").val("").val($("#ampf_isdelete_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isdelete_toggle_id").val("").val($("#ampf_isdelete_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isprint_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isprint_toggle_id").val("").val($("#ampf_isprint_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isprint_toggle_id").val("").val($("#ampf_isprint_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isexport_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isexport_toggle_id").val("").val($("#ampf_isexport_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isexport_toggle_id").val("").val($("#ampf_isexport_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isimport_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isimport_toggle_id").val("").val($("#ampf_isimport_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isimport_toggle_id").val("").val($("#ampf_isimport_toggle_id").val() + "false");
                    }
                });

                $("#ampf_isactive_div_toggle_id").checkbox({
                    onChecked: function() {
                        $("#ampf_isactive_toggle_id").val("").val($("#ampf_isactive_toggle_id").val() + "true");
                    },
                    onUnchecked: function() {
                        $("#ampf_isactive_toggle_id").val("").val($("#ampf_isactive_toggle_id").val() + "false");
                    }
                });
            }

        </script>

                <div class="row">
                    <div class="left aligned column">
                        @*<form id="main_form_id" class="ui form segment">*@
                        @helper.form(action=FormAdminMainController.onAction(), 'id -> "main_form_id", 'class -> "ui form segment"){
                            <div class="ui grid">

                                <div class="four wide column">
                                    <a class="ui blue ribbon label"><h4>@appMasterFormAdmin.getAmfa_name()</h4></a>
                                    <div class="ui special card">
                                        <div class="blurring dimmable image">
                                            <div class="ui dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                    @if(!action.equals(Constans.ACTION_NEW)){
                                                        <div id="upload_foto_profile_div_id" class="ui inverted button">
                                                            Upload Foto
                                                        </div>
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                            @if(userFotoProfile==null){
                                                <img src="@routes.Assets.versioned("semantic/assets/images/avatar/nan.jpg")">
                                            }else{
                                                @if(userFotoProfile.getUfp_status().equals(Constans.PROFILE_FOTO_UPLOAD_CLOUDINARY)){
                                                    <img src="@userFotoProfile.getUfp_filename()">
                                                }else{
                                                    <img src="@routes.Assets.versioned("upload/user/profile/foto/"+userFotoProfile.getUfp_filename())">
                                                }
                                            }
                                        </div>
                                        <div class="content">
                                            <a href="#" class="header"><h4>@userAccount.getUa_username()</h4></a>
                                            <div class="description">
                                                <h4>@userAccount.getUa_userprofile().getUp_name() @userAccount.getUa_userprofile().getUp_nickname</h4>
                                            </div>
                                            <div class="description">
                                                @formatDateBirthCard
                                            </div>
                                            <div class="description">
                                                @userAccount.getUa_userprofile().getUp_birthplace()
                                            </div>
                                        </div>
                                        @*<div class="extra content">
                                            <a>
                                                <i class="bookmark icon"></i>
                                                @if(userAccount.getUa_usertype().toString=="0"){Administrator}else{Admin}
                                            </a>
                                        </div>*@
                                    </div>
                                </div>

                                <div class="twelve wide column">

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <h5 class="ui dividing header">
                                                        <i class="user icon"></i>
                                                        User Account
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="eight wide column">
                                                <div class="field">
                                                    <input id="amfa_name_input_id" name="amfa_name_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))" type="hidden">
                                                    <input id="amfa_filenamescalahtml_input_id" name="amfa_filenamescalahtml_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))" type="hidden">
                                                    <input id="autoindex_input_id" name="autoindex_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(userAccount.getUa_autoindex().toString))" type="hidden">
                                                    <input id="tablename_input_id" name="tablename_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_USER_ACCOUNT))" type="hidden">
                                                    <input id="ua_username_caption_input_id" type="hidden">
                                                    <label>Username</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="ua_username_div_input_id" class="ui left icon input">
                                                            <i class="mail outline icon"></i>
                                                            <input id="ua_username_input_id" name="ua_username_name" value="@userAccount.getUa_username()"  placeholder="E-mail address" type="text">
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="ua_username_div_label_id" class="ui large label">
                                                            <i class="mail outline icon"></i>@userAccount.getUa_username()
                                                        </div>
                                                    }
                                                </div>
                                                <div class="field">
                                                    <label>Password</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="ua_userpassword_div_input_id" class="ui left icon input">
                                                            <i class="lock icon"></i>
                                                            <input type="password" id="ua_userpassword_id" name="ua_userpassword_name" placeholder="Password">
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="ua_userpassword_div_label_id" class="ui large label">
                                                            <i class="lock icon"></i>
                                                            <a class="ui red empty circular label"></a>
                                                            <a class="ui orange empty circular label"></a>
                                                            <a class="ui yellow empty circular label"></a>
                                                            <a class="ui olive empty circular label"></a>
                                                            <a class="ui green empty circular label"></a>
                                                            <a class="ui teal empty circular label"></a>
                                                            <a class="ui blue empty circular label"></a>
                                                            <a class="ui violet empty circular label"></a>
                                                            <a class="ui purple empty circular label"></a>
                                                            <a class="ui pink empty circular label"></a>
                                                            <a class="ui brown empty circular label"></a>
                                                            <a class="ui grey empty circular label"></a>
                                                            <a class="ui black empty circular label"></a>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="field">
                                                    <label>Confirm Password</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="ua_userpasswordconfirm_div_input_id" class="ui left icon input">
                                                            <i class="lock icon"></i>
                                                            <input type="password" id="ua_userpasswordconfirm_id" name="ua_userpasswordconfirm_name" placeholder="Confirm password">
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="ua_userpasswordconfirm_div_label_id" class="ui large label">
                                                            <i class="lock icon"></i>
                                                            <a class="ui red empty circular label"></a>
                                                            <a class="ui orange empty circular label"></a>
                                                            <a class="ui yellow empty circular label"></a>
                                                            <a class="ui olive empty circular label"></a>
                                                            <a class="ui green empty circular label"></a>
                                                            <a class="ui teal empty circular label"></a>
                                                            <a class="ui blue empty circular label"></a>
                                                            <a class="ui violet empty circular label"></a>
                                                            <a class="ui purple empty circular label"></a>
                                                            <a class="ui pink empty circular label"></a>
                                                            <a class="ui brown empty circular label"></a>
                                                            <a class="ui grey empty circular label"></a>
                                                            <a class="ui black empty circular label"></a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>

                                            <div class="eight wide column">
                                                @*<div class="field">
                                                    <label>User Type</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="ua_usertype_div_dropdown_id" class="ui left icon selection dropdown">
                                                            <i class="remove bookmark icon"></i>
                                                            <input id="ua_usertype_input_id" name="ua_usertype_name" type="hidden" value="@userAccount.getUa_usertype().toString()">
                                                            <i class="dropdown icon"></i>
                                                            <div class="default text">User Type</div>
                                                            <div class="menu">
                                                                <div class="item" data-value="0">Administrator</div>
                                                                <div class="item" data-value="1">Admin</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="ua_usertype_div_label_id" class="ui large label">
                                                            <i class="remove bookmark icon"></i>@if(userAccount.getUa_usertype().toString=="0"){Administrator}else{Admin}
                                                        </div>
                                                    }
                                                </div>*@
                                                <div class="field">
                                                    <label>Account Active/Not Active</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="ua_isactive_div_toggle_id" class="ui toggle checkbox">
                                                            <input id="ua_isactive_toggle_id" name="ua_isactive_name" value="true"  @if(userAccount.isUa_isactive()==true){checked="checked"}  type="checkbox">
                                                            <label></label>
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="ua_isactive_div_label_id" class="ui large label">
                                                        @if(userAccount.isUa_isactive()==true){
                                                            <i class="large green checkmark icon"></i>Active
                                                        }else{
                                                            <i class="large red remove icon"></i>Not Active
                                                        }
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <h5 class="ui dividing header">
                                                        <i class="file text icon"></i>
                                                        User Profile
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">

                                                <div class="ui grid">
                                                    <div class="eight wide column">
                                                        <div class="field">
                                                            <label>Name</label>
                                                            @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                                <div id="up_name_div_input_id" class="ui left icon input">
                                                                    <i class="user icon"></i>
                                                                    <input id="up_name_input_id" name="up_name_name" value="@userAccount.getUa_userprofile().getUp_name()"  placeholder="Name" type="text">
                                                                </div>
                                                            }
                                                            @if(action.equals(Constans.ACTION_VIEW)){
                                                                <div id="up_name_div_label_id" class="ui large label">
                                                                    <i class="user icon"></i>@userAccount.getUa_userprofile().getUp_name()
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="field">
                                                            <label>Birth Place</label>
                                                            @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                                <div id="up_birthplace_div_input_id" class="ui left icon input">
                                                                    <i class="marker icon"></i>
                                                                    <input id="up_birthplace_input_id" name="up_birthplace_name"  value="@userAccount.getUa_userprofile().getUp_birthplace()"  placeholder="Birth Place" type="text">
                                                                </div>
                                                            }
                                                            @if(action.equals(Constans.ACTION_VIEW)){
                                                                <div id="up_birthplace_div_label_id" class="ui large label">
                                                                    <i class="marker icon"></i>@userAccount.getUa_userprofile().getUp_birthplace()
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                    <div class="eight wide column">
                                                        <div class="field">
                                                            <label>Nick Name</label>
                                                            @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                                <div id="up_nickname_div_input_id" class="ui left icon input">
                                                                    <i class="child icon"></i>
                                                                    <input id="up_nickname_input_id" name="up_nickname_name" value="@userAccount.getUa_userprofile().getUp_nickname()"  placeholder="Last Name" type="text">
                                                                </div>
                                                            }
                                                            @if(action.equals(Constans.ACTION_VIEW)){
                                                                <div id="up_nickname_div_label_id" class="ui large label">
                                                                    <i class="child icon"></i>@userAccount.getUa_userprofile().getUp_nickname()
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="field">
                                                            <label>Birth Date (Day/Month/Year)</label>
                                                            @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                                <div id="up_birthdate_div_input_id" class="ui left icon input">
                                                                    <i class="calendar icon"></i>
                                                                    <input id="up_birthdate_input_id" name="up_birthdate_name" value="@formatDateBirth"  placeholder="Day/Month/Year" type="text">
                                                                </div>
                                                            }
                                                            @if(action.equals(Constans.ACTION_VIEW)){
                                                                <div id="up_birthdate_div_label_id" class="ui large label">
                                                                    <i class="calendar icon"></i>@formatDateBirth
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <label>Gender</label>
                                                    @if(action.equals(Constans.ACTION_NEW) || action.equals(Constans.ACTION_EDIT)){
                                                        <div id="up_isgender_div_dropdown_id" class="ui left icon selection dropdown">
                                                            <i class="heterosexual icon"></i>
                                                            <input id="up_isgender_input_id" name="up_isgender_name" type="hidden" value="@userAccount.getUa_userprofile().isUp_isgender()">
                                                            <i class="dropdown icon"></i>
                                                            <div class="default text">Gender</div>
                                                            <div class="menu">
                                                                <div class="item" data-value="true">Male</div>
                                                                <div class="item" data-value="false">Female</div>
                                                            </div>
                                                        </div>
                                                    }
                                                    @if(action.equals(Constans.ACTION_VIEW)){
                                                        <div id="up_isgender_div_label_id" class="ui large label">
                                                            <i class="heterosexual icon"></i>@if(userAccount.getUa_userprofile().isUp_isgender()==true){Male}else{Female}
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <h2 class="ui dividing header"></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <div  class="ui error message">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                            </div>


                            @if(action.equals(Constans.ACTION_VIEW)) {
                                <div class="row">
                                    <div class="ui grid">
                                        <div class="sixteen wide column">
                                            <div class="field">
                                                <h5 class="ui dividing header">
                                                    <i class="check square icon"></i>
                                                    User Account Permissions
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if(appMasterPermissionsFormAdmin.isAmpfa_isnew){
                                    <div class="row">
                                        <div class="ui grid">
                                            <div class="sixteen wide column">
                                                <div class="field">
                                                    <div id="masterpermissionsform_add_div_button_id" class="ui buttons">
                                                        <button id="masterpermissionsform_add_button_id" name="@Constans.ACTION_NAME_NEW" value="@Constans.ACTION_VALUE_NEW" class="ui blue labeled icon button" type="button">
                                                            <i class="plus icon"></i>
                                                            Add Permissions
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="ui grid">
                                        <div class="sixteen wide column">
                                            <div class="field">
                                                <table id="table_masterpermissionsform_id" class="ui compact striped selectable celled table" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="one wide center aligned">View</th>
                                                            <th class="seven wide left aligned">Form Name</th>
                                                            <th class="one wide center aligned">New</th>
                                                            <th class="one wide center aligned">Select</th>
                                                            <th class="one wide center aligned">Insert</th>
                                                            <th class="one wide center aligned">Update</th>
                                                            <th class="one wide center aligned">Delete</th>
                                                            <th class="one wide center aligned">Print</th>
                                                            <th class="one wide center aligned">Export</th>
                                                            <th class="one wide center aligned">Import</th>
                                                            <th class="one wide center aligned">Active</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*</form>*@
                    </div>
                </div>


                <div id="upload_foto_profile_modal_id" class="ui basic modal">
                        <div class="ui icon header">
                        @helper.form(action=FormAdminMainController.onUpload(), 'enctype -> "multipart/form-data") {
                            <div class="row">
                                <div class="ui grid">
                                    <div class="sixteen wide column">
                                        <div class="field">
                                            <div id="ufpa_filename_div_input_id" class="ui input">
                                                <input id="amfa_name_input_id" name="amfa_name_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))" type="hidden">
                                                <input id="amfa_filenamescalahtml_input_id" name="amfa_filenamescalahtml_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))" type="hidden">
                                                <input id="autoindex_input_id" name="autoindex_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(userAccount.getUa_autoindex().toString))" type="hidden">
                                                <input id="tablename_input_id" name="tablename_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_USER_ACCOUNT))" type="hidden">
                                                <input id="ufp_filename_input_id" name="ufp_filename_name"  placeholder="Upload Foto" type="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui center aligned grid">
                                <img id="ufp_filename_img_id" width="678px" height="622px" class="center aligned" src="@routes.Assets.versioned("semantic/assets/images/avatar/nan.jpg")">
                            </div>
                        </div>
                        <div class="actions">
                            <div class="ui buttons">
                                <button id="useraccount_upload_foto_yes_button_id" name="@Constans.ACTION_NAME_UPLOAD" value="@Constans.ACTION_VALUE_UPLOAD" class="ui green ok button" type="submit">
                                    <i class="checkmark icon"></i>
                                    Yes
                                </button>
                            </div>
                            <div class="ui buttons">
                                <button id="useraccount_upload_foto_no_button_id" name="upload_foto_no_button_name" class="ui red cancel button" type="button">
                                    <i class="remove icon"></i>
                                    No
                                </button>
                            </div>
                        }
                        </div>
                </div>


                <div id="masterpermissionsform_modal_id" class="ui modal">
                    <i class="close icon"></i>
                    <div id="example" class="header">
                        User Account Permissions
                    </div>

                    <div class="image content">
                        <div class="description">
                        @helper.form(action=FormAdminMainDetailController.onAction(), 'id -> "detail_form_id"){
                            <div class="ui header">Choose permissions for user @userAccount.getUa_username()</div>

                            <div class="ui form">
                                <input id="amfa_name_input_id" name="amfa_name_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_name()))" type="hidden">
                                <input id="amfa_filenamescalahtml_input_id" name="amfa_filenamescalahtml_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(appMasterFormAdmin.getAmfa_filenamescalahtml()))" type="hidden">
                                <input id="autoindex_input_id" name="autoindex_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(userAccount.getUa_autoindex().toString))" type="hidden">
                                <input id="ampf_autoindex_input_id" name="ampf_autoindex_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt("0"))" type="hidden">
                                <input id="tablename_input_id" name="tablename_input_name" value="@URLEncDec.URLEncode(AESCrypto.encrypt(ConstansTable.TABLE_APP_MASTER_PERMISSONS_FORM))" type="hidden">
                                <input id="action_input_id" name="action_input_name" type="hidden">
                                <div class="row">
                                    <div class="ui grid">
                                        <div class="sixteen wide column">
                                            <div class="field">
                                                <label>Form</label>
                                                <div id="appmasterform_div_dropdown_id" class="ui fluid search selection dropdown" >
                                                    <input id="appmasterform_input_id" name="appmasterform_input_name" type="hidden">
                                                    <i class="dropdown icon"></i>
                                                    <div id="appmasterform_dropdown_default_id" class="default text">Select Form</div>
                                                    <div id="appmasterform_dropdown_id" class="menu">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ui grid">
                                        <div class="eight wide column">
                                            <div class="field">
                                                <div id="ampf_isnew_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isnew_toggle_id"  name="ampf_isnew_name" value="true" checked="checked" type="checkbox">
                                                    <label>New</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isselect_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isselect_toggle_id" name="ampf_isselect_name" value="true" checked="checked" type="checkbox">
                                                    <label>Select</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isinsert_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isinsert_toggle_id" name="ampf_isinsert_name" value="true" checked="checked" type="checkbox">
                                                    <label>Insert</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isupdate_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isupdate_toggle_id" name="ampf_isupdate_name" value="true" checked="checked" type="checkbox">
                                                    <label>Update</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isdelete_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isdelete_toggle_id" name="ampf_isdelete_name" value="true" checked="checked" type="checkbox">
                                                    <label>Delete</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="eight wide column">
                                            <div class="field">
                                                <div id="ampf_isprint_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isprint_toggle_id" name="ampf_isprint_name" value="true" checked="checked" type="checkbox">
                                                    <label>Print</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isexport_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isexport_toggle_id" name="ampf_isexport_name" value="true" checked="checked" type="checkbox">
                                                    <label>Export</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isimport_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isimport_toggle_id" name="ampf_isimport_name" value="true" checked="checked" type="checkbox">
                                                    <label>Import</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div id="ampf_isactive_div_toggle_id" class="ui toggle checkbox">
                                                    <input id="ampf_isactive_toggle_id" name="ampf_isactive_name" value="true" checked="checked" type="checkbox">
                                                    <label>Active</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>

                    <div class="actions">
                        <div id="app_master_permissions_form_save_div_button_id" class="ui buttons">
                        </div>
                        <div class="ui buttons">
                            <button id="app_master_permissions_form_cancel_button_id" name="app_master_permissions_form_cancel_button_name" class="ui red cancel button" type="button">
                                Cancel
                            </button>
                        </div>
                    </div>

                </div>

}

