@import controllers.user.dasboard.routes.DasboardController
@import models.user.user.UserAccount
@import models.user.user.UserFotoProfile
@import views.html.user.main
@(page: String, isLogin: Boolean, userAccountLogin : UserAccount, userFotoProfileLogin : UserFotoProfile, createMenu : Html)(content: Html)
@main(page, isLogin, userAccountLogin, userFotoProfileLogin){
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">

            @if(!userAccountLogin.isUa_isactive) {
                <div class="row">
                    <div class="center aligned column">
                        <div class="ui negative message">
                            <div class="header">
                                Your account not been activated, please activated first in your email account.
                            </div>
                            <p><a href="@DasboardController.sendActivationCode()">Send Activation Code</a></p>
                        </div>

                    </div>
                </div>
            }else{
                <div class="row">
                    <div class="center aligned column">
                        <div>
                            @createMenu
                        </div>
                    </div>
                </div>
            }

            @content

        </div>
    </div>
}